<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Manikandan and it use data from maps.com and darksky.net</p>
        <img class="nature" src="/img/download.jpg">
    </div>

    {{>footer}}

</body>

</html>